{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="container">
        <h1 class="my-5">Modify an article :</h1>
        <form action="{{ path('modify_article' ,{'id' : article.id }) }}" method="POST">
            <div class="form-group">
                <label for="title">Title :</label>
                <input type="text" class="form-control" name="title" value="{{article.title}}">
            </div>
            <div class="form-group">
                <label for="text">Content :</label>
                <textarea name="text" class="form-control">{{article.text}}</textarea>
            </div>
            <div class="form-group">
                <label for="category">Category :</label>
                <select name = "category" class="form-control">
                    {% for category in categories %}
                        {% if category.id == article.category.id  %}
                            <option value = {{category.id}} selected>{{category.name}}</option>
                        {% else %}
                             <option value = {{category.id}}>{{category.name}}</option>
                         {% endif %}
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Modify</button>
        </form>
    </div>
{% endblock %}